<h1>BS Station route!!!</h1>


<% @stations.each do |station|%>
  <h3>
  	Station Id: <%= station.id %>
  	Number of bikes available: <%= station.num_bikes %>
  	Number of docks available: <%= station.num_docks %>
  </h3>
<%end%>


<% if @data %>
<h1>Woah!</h1>
<% end %>
