<div class="bgimg">
  <div class="middle">
    <div class="centertext">
      <h1>Michael Dworken</h1>
      <hr>
    </div>
    <div class="lefttext">
      <p>
       Personal Site Coming Soon
      </p>
    </div>
  </div>
  <div class="bottom">
    <p>
      If you think we should chat, please drop me a line at: michaeldworken@gmail.com
    </p>
  </div>
  <div class="topright">
    GITHUB RESUME ETC
  </div>
</div>
