<div class="bgimg">
  <div class="middle">
    <div class="centertext">
      <h1>Michael Dworken</h1>
      <hr>
    </div>
    <div class="lefttext">
      <p>
        I am a Quality Assurance professional experienced in both manual and automated testing. In my spare time I volunteer with local non-profits as a web developer and as a data lead. I am currently seeking new students for private mathematics tutoring.
      </p>
    </div>
  </div>
  <div class="bottom">
    <p>
      If you think we should chat, please drop me a line at: michaeldworken@gmail.com
    </p>
  </div>
  <div class="topright">
    GITHUB RESUME ETC
  </div>
</div>